{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}

<!-- Flash Message -->
{% for message in app.flashes('Erfolg') %}
    <div class="alert alert-success">
        <h4>{{ message }}</h4>
    </div>
{% endfor %}

<br>
<div class="container">
<h2>GesteBuch Einträge</h2>
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Strasse</th>
                <th>Plz</th>
                <th>Stadt</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Geburtsdatum</th>
                <th>GastEintrag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liste in listes %}
            <tr>
                <td>{{ liste.id }}</td>
                <td>{{ liste.name }}</td>
                <td>{{ liste.strasse }}</td>
                <td>{{ liste.plz }}</td>
                <td>{{ liste.stadt }}</td>
                <td>{{ liste.telefon }}</td>
                <td>{{ liste.email }}</td>
                <td>{{ liste.geburtsdatum }}</td>
                <td>{{ liste.gastEintrag }}</td>
                <td>
                    <a href="{{ path('liste.show', {'id': liste.id}) }}">zeigen</a>
                    <a href="{{ path('liste.edit', {'id': liste.id}) }}">ändern</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Keine Einträge gefunden!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('liste.new') }}">Neuer Eintrag</a>
    </div>
{% endblock %}
